<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Assignment_for_lecture3/src/Check_the_number_for_prime.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Check_the_number_for_prime"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Assignment_for_lecture3"/>
</launchConfiguration>
